[2013-05-05 00:05] beatgammit opened #2 "Implement Client"

[2013-05-05 00:05] beatgammit opened #3 "Implement RPC"

[2013-05-05 00:07] beatgammit opened #4 "Implement Prefix"
I don't know how valuable this is, since it'll most likely be omitted from v2, but I suppose it's nice to have a complete implementation.

[2013-05-06 16:12] #4 closed, assigned to nobody

[2013-05-07 02:41] beatgammit opened #5 "Publish hook"
Something like this should work:

[code]

If topicURI is the empty string, the listener will be called on every PUBLISH.

[2013-05-07 03:47] beatgammit commented on #3
Needs an example

[2013-05-07 03:49] beatgammit opened #6 "Option to disallow creating topics"
Right now, if a topic doesn't exist when subscribed to, a new topic is created. This should be configurable and provide a hook (so an implementation can reject based on auth or something).

[2013-05-09 06:07] jcelliott opened #7 "Change wamp message functions to return a string instead of []byte"

[2013-05-09 06:11] jcelliott opened #8 "Create a test that uses the client and server together"

[2013-05-09 06:12] jcelliott opened #9 "Test with Autobahn test suite"
This is blocked by a bug in the go websocket library

[2013-05-09 06:13] jcelliott opened #10 "Add a command line interface to turnpike/client"

[2013-05-10 05:40] #7 closed, assigned to nobody

[2013-08-14 07:48] highway900 opened #11 "AutoBahn.js unable to establish a connection"
AutoBahn.js is unable to establish a connection with the turnpike server.

I can though establish a standard `new WebSocket("uri")` connection via the javascript console. I can also issue message to turnpike in WAMP and get correct responses from the server and in the example chat program.

The autobahn version is coming from `http://autobahn.s3.amazonaws.com/js/autobahn.js`

Any ideas? Not sure i

[2013-08-14 17:58] jcelliott commented on #11
It could very well be a turnpike issue. It's still relatively new, but I am using it in a production environment. I just tested with that version of autobahn. It seems to work for me, so I added an example that uses autobahn.js. Can you get the example running on your setup?

[2013-08-15 01:15] highway900 commented on #11
My example is not so different from your example. But alas your example does not work for either...

Simply running

[code]

returns `WebSocket connection to 'ws://localhost:8080/ws' failed: Unexpected response code: 403` in the console.
And in the browser for your example I get `WAMP client disconnected: Connection could not be established. (3)`

But if I do `ws = new WebSocket("ws://localhost:80

[2013-08-15 03:46] highway900 commented on #11
Ok so we can close this, because I was running the connection via a file open. Not serving the page from a http server.

The origin header was set to null. Thus the 403.

[2013-08-15 03:50] jcelliott commented on #11
Glad you figured it out. I'm still working on improving turnpike, so let me know if you run into any other issues or have any feature requests.

[2013-08-15 03:50] #11 closed, assigned to nobody

[2013-09-06 22:01] jcelliott opened #12 "Configurable behavior for publish that would block"

[2013-10-03 06:42] maxekman opened #13 "Unnecessary dependency on Lumber?"
First of all, this seems to be a nice library and I would love to (and will most likely) contribute when I start to use it soon!

Is the dependency on Lumber really necessary? As a networking library I think logging should be kept to a minimum and if anything be done with the built in logger. I would love to use Turnpike but I don't see a need for having Lumber forced on me (which will happen if I

[2013-10-04 06:27] maxekman opened #15 "Add WAMP-CRA authentication and permissions"
I will probably take a go at this soon, just wanted it noted here.

Some references:
https://github.com/tavendo/AutobahnPython/tree/master/examples/wamp/authentication
http://cljwamp.us/tutorial#wampcra

[2013-10-04 06:30] maxekman opened #16 "Export less methods to the API"
It seems to me at a first glance that there are too many methods and structures exported in the API. I think it could be cleaner, and this is just a note to evaluate this at some point.

[2013-10-04 21:44] jcelliott commented on #13
Glad you like turnpike. I agree about Lumber, I'll remove it.

[2013-10-04 21:50] jcelliott commented on #16
This is a good point. A lot of this is because the code in `wamp.go` was originally in its own package and had to be exported. I'll review it soon.

[2013-10-05 11:58] maxekman commented on #16
Ah, that explains it!

[2013-10-05 11:59] maxekman commented on #13
Perfect! Makes for a cleaner library without extra dependencies.

[2013-10-06 15:54] maxekman commented on #9
This should probably be done at for example [drone.io](drone.io) to keep the code base clean.

[2013-10-06 15:57] maxekman opened #21 "Add continuous integration"
A CI solution at for example [drone.io](drone.io) would be good to add. I'm planning to add client/server test cases at some point.

[2013-10-06 21:33] #13 closed, assigned to nobody

[2013-10-06 21:34] #16 closed, assigned to nobody

[2013-10-07 15:24] maxekman commented on #2
I have written the event handler for the client and will create a pull request as soon as the pull request adding licenses is merged in (https://github.com/jcelliott/turnpike/pull/22). I'm a bit unsure about what to base my topic branches on when I change a lot of code. Hope I'm not causing too much pain...

You can preview the code (minus license header changes) here: https://github.com/maxpersso

[2013-10-08 09:17] maxekman opened #25 "Change examples and tests to not use prefixes"
The prefix feature will be deprecated in WAMPv2, so examples and tests could as well not use it at all. A separate prefix example could be added to show how it's supposed to be used.

[2013-10-10 13:58] #3 closed, assigned to nobody

[2013-10-10 13:58] #8 closed, assigned to nobody

[2013-10-10 14:10] maxekman commented on #6
This is completed in 840f7e177b, issue should be closed.

[2014-02-25 04:47] beatgammit opened #28 "WebSocket transport with JSON serializer"
Need a basic version of a WebSocket transport with JSON serializer. This should probably be a subpackage (wampv2/client?).

The design should be such that it's easy to replace either WebSockets as the transport (e.g. TCP) or JSON as the serialization format (e.g. msgpack).

[2014-02-25 04:50] beatgammit opened #29 "Msgpack serialization over binary WebSocket"

[2014-02-25 04:59] beatgammit opened #30 "Listen for GOODBYE from endpoints"
A GOODBYE message should end the session with a client and send a GOODBYE message in return.

[2014-02-25 05:18] beatgammit opened #31 "Basic pub/sub"
Implement WAMP _Broker_, _Publisher_ and _Subscriber_.

[2014-02-26 21:02] #31 closed, assigned to nobody

[2014-02-26 21:03] #30 closed, assigned to nobody

[2014-02-26 21:04] beatgammit opened #32 "Basic RPC"
WAMP _Dealer_, _Caller_ and _Callee_

[2014-02-26 21:05] beatgammit opened #33 "Challenge/Authenticate"

[2014-02-26 21:07] beatgammit opened #34 "Implement HEARTBEAT"

[2014-02-26 21:08] beatgammit opened #35 "Implement RPC Cancel"
Cancel an issued _Call_

[2014-02-26 21:38] maxekman commented on #21
I see you added this recently, closing.

[2014-02-26 21:38] #21 closed, assigned to nobody

[2014-03-12 19:48] #28 closed, assigned to nobody

[2014-04-04 17:46] beatgammit opened #36 "Initial publish packet for new subscribers"
Often it's useful to not have to wait for the next publish before receiving data, but to receive a packet just after subscribing. This is useful if you're subscribing to settings changes or any other persistent but mutable data.

There should be a hook or a setting somewhere to configure this.

[2014-07-18 04:36] jcelliott opened #37 "WAMP v1 deprecation"
Turnpike will be moving to WAMP v2 soon, and we need to decide on the best way to deprecate v1 without causing too much of a headache for users. This will probably involve using [gopkg.in](http://gopkg.in) for versioning.

[2014-07-28 03:27] beatgammit opened #39 "Review WAMPv2 basic API"
This is a meta-issue for things that should be considered before releasing `turnpike` as a WAMPv2 implementation:
- [x] change Serializer interface to support streaming
- [x] review messages and message types (custom message types?)
- [x] should JSON/MessagePack be supported, or should users be required to register them (i.e. if they didn't want to support one of the protocols for some reason)
- [

[2014-08-08 05:53] jcelliott opened #40 "Add simple examples for WAMP v2"
- [x] chat server/client (pubsub)
- [x] something that uses Autobahn|JS
- [x] something that demonstrates RPC

[2014-08-10 18:23] #32 closed, assigned to jcelliott

[2014-08-10 18:23] #29 closed, assigned to beatgammit

[2014-08-13 03:39] jcelliott commented on #40
Chat client and server added in 8c0787b06252c28fefb1d7bca28243cdb933c1ba

[2014-08-14 02:42] CoinDev opened #41 "Go Concurrency Patterns"
Are there any concurrency patterns or anti patterns that should be known when developing using turnpike?

An informal bench test showed turnpike handling 23k/s local ping requests and I am prepared to go to 4% of that but before I bevel any edges to keep performance throughput going I am curious if there are known patterns to keep requests concurrency and consistency optimal without cutting myself

[2014-08-14 19:51] jcelliott commented on #41
Nothing specific to turnpike. If you are new to Go in general, I would highly recommend [the concurrency section of "Effective Go"](http://golang.org/doc/effective_go.html#concurrency).

I have been meaning to do some benchmark tests against turnpike, but haven't gotten to that yet. What do you mean by "prepared to go to 4% of that".

Also, are you planning on using WAMP v1 or v2? WAMP v1 has been

[2014-08-15 06:22] CoinDev opened #42 "App Sessions"
Are there any examples of app sessions available like those outlined in the python examples?

[link](https://github.com/crossbario/crossbar/wiki/Python%20Application%20Components)

[2014-08-15 19:27] CoinDev commented on #41
I meant that if I was only getting ~900 req/s in a live application with complex components that would be fine.

WAMP v1 is good enough however I am hesitant to add concurrency patterns without clearly understanding the client server session life cycle in the turnpike as tersely mentioned in the other issue I posted.

[2014-08-15 19:28] CoinDev commented on #42
Can handle this discussion in issue #41

[2014-08-15 19:28] #42 closed, assigned to nobody

[2014-08-25 15:09] jcelliott opened #44 "Add 'omitempty' to args and kwargs"
https://github.com/tavendo/WAMP/blob/master/spec/basic.md#empty-arguments-and-keyword-arguments

[2014-08-25 15:15] jcelliott opened #45 "Review predefined URIs"
These have been updated in RC3 of the WAMP spec.

[2014-08-25 15:22] jcelliott opened #46 "Review WAMP basic profile security model"
This section was added in RC3 of the basic profile:

https://github.com/tavendo/WAMP/blob/rc3/spec/basic.md#security-model

[2014-09-06 18:40] jcelliott opened #48 "Implement RPC functions for client"

[2014-09-06 18:41] jcelliott commented on #39
Also, make sure the current implementation is flexible enough to easily add advanced profile features.

[2014-09-06 18:51] beatgammit opened #49 "Binary in JSON strings"
https://github.com/tavendo/WAMP/blob/rc3/spec/basic.md#binary-conversion-of-json-strings

Basically we'll need to introduce a binary type that implements MarshalJSON that prefixes the string with `\x00`. `encoding/json` already base64-encodes binary strings, so perhaps that can be reused.

[2014-09-06 19:01] beatgammit commented on #40
Blocked by #48.

[2014-09-06 19:02] jcelliott opened #50 "WAMP ordering guarantees"
Turnpike currently doesn't guarantee the event ordering in the spec.

https://github.com/tavendo/WAMP/blob/master/spec/basic.md#ordering-guarantees

[2014-09-06 19:04] beatgammit opened #51 "Don't send EVENT to client that PUBLISHed it"
https://github.com/tavendo/WAMP/blob/rc3/spec/basic.md#event-1

[2014-09-22 22:18] josephschorr commented on #48
Hey guys,

Any status update on this feature? If no, are there any requirements/restrictions if I decide to implement the basics of RPC (REGISTER and CALL)?

[2014-09-23 03:37] jcelliott commented on #48
I was planning on getting to it later this week. Glad to have other people help though, so If you do want to work on it let me know. The only requirements are to use `gofmt` and to have a basic test for it.

[2014-09-23 05:54] josephschorr commented on #48
I'm planning to work on it on Friday, so let me know if you get around to it before then. If not, I'll take a stab then.

[2014-09-30 21:13] josephschorr commented on #48
@jcelliott: I just saw this fork when starting my own: https://github.com/AnimationMentor/turnpike/blob/wamp-2/client.go

Is there a reason it isn't merged in?

[2014-09-30 21:52] jcelliott commented on #48
The code that link points to is part of Turnpike v1, targeting WAMP v1. I'm not sure why it's on the wamp-2 branch in that fork. This issue is specifically for adding this functionality for WAMP v2. Which version of WAMP are you using?

[2014-09-30 22:07] josephschorr commented on #48
I'm planning to use WAMP v2. As you point out, despite its name, it does appear to be a fork of the WAMP v1 client, so I'll continue with my plans to fork the v2 and add RPC there.

[2014-10-03 16:23] beatgammit commented on #33
Work done here - 66e8638

@jcelliott - Is this done?

[2014-10-04 04:49] jcelliott commented on #33
Not quite. The basic challenge/response mechanism is there, but we still need to implement the actual WAMP-CRA authentication. I'll probably finish it over the weekend.

[2014-10-06 14:47] beatgammit opened #54 "Report errors"
When fixing #53, I found that most of debugging information I wanted was in the errors returned from functions. We don't currently report these (e.g. in [websocket.go](https://github.com/jcelliott/turnpike/blob/v2/websocket.go#L54)) or even log them.

I think this was mainly due to not wanting a hard dependency on [lumber](https://github.com/jcelliott/lumber), but the result is that it never got d

[2014-10-06 17:27] jcelliott commented on #48
Started in bfca50332d6dd5524ff6c1cde8545e3824ad6fcd

[2014-10-07 15:43] beatgammit commented on #49
I'm mostly done with this. Here's the current gameplan:
- make a `type Binary []byte` that marshals/unmarshals properly (done, just needs to be cleaned up)
- replace `[]byte` with above in the JSON serializers before handing it to `encoding/json`

I'm not so sure about part 2 because it seems like a lot of overhead. However, requiring all users to `s/[]byte/turnpike.Binary/g` seems nasty as well.

[2014-10-07 15:48] beatgammit commented on #44
Perhaps optional fields can have a `wamp` tag:

[code]

Fields will be traversed backwards looking for `omitempty`, and those that are `nil` or 0-length are omitted.

[2014-10-08 15:49] beatgammit commented on #49
@jcelliott - Should this be left open until the magic function is written, or do you think #56 is good enough to satisfy the requirement. It puts the burden on the user, but at least it's possible.

I got partway through writing the magic function, but it ended up being more complex than I had initially thought. For example, these cases:
- map with byte array key: `map[[5]byte]interface{}`
- struc

[2014-10-08 16:26] #44 closed, assigned to beatgammit

[2014-10-09 04:52] jcelliott commented on #25
Closing WAMPv1 issues. See WAMPv2 development on [v2 branch](https://github.com/jcelliott/turnpike/tree/v2).

[2014-10-09 04:52] #25 closed, assigned to nobody

[2014-10-09 04:54] jcelliott commented on #15
Closing WAMPv1 issues. See WAMPv2 development on [v2 branch](https://github.com/jcelliott/turnpike/tree/v2).

Started work on WAMP Authentication in 66e8638f

[2014-10-09 04:54] #15 closed, assigned to nobody

[2014-10-09 04:59] #6 closed, assigned to nobody

[2014-10-09 05:00] jcelliott commented on #2
Closing WAMPv1 issues. See WAMPv2 development on [v2 branch](https://github.com/jcelliott/turnpike/tree/v2).

[2014-10-09 05:00] #2 closed, assigned to nobody

[2014-10-09 05:00] jcelliott commented on #5
Closing WAMPv1 issues. See WAMPv2 development on [v2 branch](https://github.com/jcelliott/turnpike/tree/v2).

[2014-10-09 05:00] #5 closed, assigned to nobody

[2014-10-09 05:03] jcelliott commented on #12
Closing WAMPv1 issues. See WAMPv2 development on [v2 branch](https://github.com/jcelliott/turnpike/tree/v2).

[2014-10-09 05:03] #12 closed, assigned to nobody

[2014-10-09 05:11] jcelliott commented on #41
I'm not sure I completely understand your concern, but the session life cycle in WAMP is simple. When the client connects, the server assigns a unique session ID that is used until the client disconnects. For WAMP v1 that documentation can be found [here](http://wamp.ws/spec/wamp1/#welcome_message).

If you have more questions feel free to re-open this issue or create a new one.

[2014-10-09 05:11] #41 closed, assigned to nobody

[2014-10-09 05:13] jcelliott commented on #45
Updated in 66e8638

[2014-10-09 05:13] #45 closed, assigned to nobody

[2014-10-09 17:16] jcelliott commented on #54
One possible solution would be to define a `Logger` interface for an object that can be passed in and used for logging. Ideally this would work out of the box with the standard Go log package. We could also optionally support logging with levels.

We should also do some research to see what other projects have done to solve this problem.

[2014-10-10 00:32] jcelliott commented on #54
This is an interesting approach to this issue:

https://github.com/visionmedia/go-debug

[2014-10-10 01:50] beatgammit commented on #54
Interesting. That author is a `node.js` dev (author of jade, express and a few other notables), so it looks like he's getting into `go` now?

[2014-10-13 21:03] josephschorr commented on #48
Continued in https://github.com/jcelliott/turnpike/commit/6ad6cd9b79ae8c28fdbfa27c4ad4b705851f347b

[2014-10-14 21:54] josephschorr commented on #48
Anything else you'd like me to add for this issue?

[2014-10-14 22:08] jcelliott commented on #48
Nope, it looks good. I'm doing some refactoring as part of implementing client side auth, and I'll close this issue after that's complete.

[2014-10-16 02:09] jcelliott opened #58 "Add hooks or meta-events for when clients connect/disconnect"

[2014-10-16 15:49] jcelliott commented on #48
@josephschorr Let me know if the changes I made will not work for your use case.

[2014-10-16 15:49] #48 closed, assigned to jcelliott

[2014-10-20 17:40] josephschorr opened #59 "Calling publish against an autobahn client results in an error"
Calling publish from the Go client:

[code]

Results in the following error from autobahn:

[code]

We need to make sure that keys are either not including if `nil`/`None` or that we fill them in with default data (which the spec recommends against doing).

[2014-10-21 04:16] jcelliott commented on #59
The 'options' dictionaries are required as far as I can tell (see, for example, [the publish message documentation](https://github.com/tavendo/WAMP/blob/master/spec/basic.md#publish)). Since these are not using any advanced profile features yet, they should be empty. I haven't tested this against autobahn yet, so feel free to re-open if it isn't actually fixed.

[2014-10-21 04:16] #59 closed, assigned to nobody

[2014-10-21 05:13] josephschorr commented on #59
I made a similar change in my client to test it, and it appeared to work, so I suspect this is fine. Will confirm tomorrow.

[2014-11-03 12:25] tomwys opened #60 "Not compatible with autobahn.js on GOODBAY."
Autobahn expects that `details` in `GOODBAY` should be set to dictionary/map. turnpike sets this parameter to `nil`.

Fix should look something like that:

[code]

PS. I'm not 100% sure that this is turnpike fault, but after reading WAMP documentation it seams to me that Autobahn implementation is good and turnpike should be fixed. If you thing differently please create ticket to Autobahn.

[2014-11-03 16:24] jcelliott commented on #60
Good catch, thanks.

[2014-11-03 16:24] #60 closed, assigned to nobody

[2014-11-17 16:37] quietnan opened #62 "Refering to "github.com/jcelliott/turnpike" in "examples/chat/chatserver/main.go" breaks "go get -u all""
How to reproduce:

Create clean $GOPATH:

install turnpike.v2:

break it by updating:

attempts to get "github.com/jcelliott/turnpike" (master branch) and its various dependencies (github.com/nu7hatch/gouuid and others), that are not needed for v2

The chatserver example should probably refer to the gopkg.in path?

[2014-11-17 16:58] beatgammit commented on #62
Good catch! That could have caused interesting errors for someone trying to run that example.

[2014-11-17 16:58] #62 closed, assigned to nobody

[2014-12-03 00:26] jzelinskie opened #64 "Embedding sessions into a router"
If you look at some example Autobahn code or most of the other implementations of WAMP in other languages, they allow you to optionally embed an ApplicationSession directly into a router (i.e. [this autobahn example](https://github.com/tavendo/AutobahnPython/blob/master/examples/asyncio/wamp/beginner/server.py)).What is the best way to reproduce this behavior with the turnpike API?

[2014-12-04 06:17] jcelliott commented on #64
Currently the way to do something like that is to use a [`localPeer`](https://github.com/jcelliott/turnpike/blob/v2/session.go#L36). See, for example, how it's used in [router_test.go](https://github.com/jcelliott/turnpike/blob/v2/router_test.go).

It's not very easy to do that right now, so I would love to hear any proposals for a better mechanism. I suppose something like what Autobahn|Python ha

[2015-01-09 18:50] jcelliott opened #66 "Add basic API documentation"

[2015-01-09 18:51] jcelliott commented on #66
- [x] add a list of things that need to be documented

[2015-01-09 18:55] #51 closed, assigned to nobody

[2015-01-09 19:29] jcelliott opened #67 "Look into using go generate/stringer for message.go"
http://godoc.org/golang.org/x/tools/cmd/stringer
https://golang.org/cmd/go/#hdr-Generate_Go_files_by_processing_source

[2015-01-16 01:55] jcelliott commented on #49
I think this is good enough for now. Most people will not be using binary data with JSON (they would be more likely to use msgpack), but if they need to it's possible.

[2015-01-16 01:55] #49 closed, assigned to beatgammit

[2015-01-16 02:38] beatgammit commented on #39
Should `JoinRealmAuth` be `JoinRealmCRA` instead? There may be other authentication modes than challenge/response authentication in the future.

[2015-01-16 04:10] beatgammit commented on #66
Undocumented things:
- [x] callresult.go - I thought we should review these before documenting
  - [x] ValueResult
  - [x] SliceResult
  - [x] MapResult
  - [x] SimpleErrorMessage
  - [x] ErrorResult
- [x] Message types

[2015-01-16 05:32] #40 closed, assigned to nobody

[2015-01-16 20:15] beatgammit opened #69 "Make enum-like values use a common type"
For example, `JoinRealm` takes `roles` as an `int`, but it should probably be a real type so users don't accidentally enter the wrong thing (i.e. `JoinRoles(realm, turnpike.JSON, nil)`).

[2015-01-23 03:14] beatgammit commented on #66
We decided to remove the convenience functions in callresult.go because they really didn't add much. Also, since the members were private, they could not be serialized.

I've made the members public, so these convenience functions can be added in a utility library.

[2015-01-23 03:14] beatgammit commented on #66
Documentation for the message types is good enough for an initial release, but additional documentation is definitely welcome.

[2015-01-23 03:14] #66 closed, assigned to nobody

[2015-01-23 03:27] jcelliott commented on #69
Fixed in 5ab33941f9.

[2015-01-23 03:27] #69 closed, assigned to nobody

[2015-01-23 04:00] jcelliott commented on #46
Reviewed.

Router-side TLS connections will be served by the library user. Client-side TLS connections will work, but will not do any verification of the server's certificate.

Does not implement [_client certificate based authentication_](https://github.com/tavendo/WAMP/blob/rc3/spec/basic.md#client-authentication) yet.

[2015-01-23 04:00] #46 closed, assigned to nobody

[2015-01-23 04:19] jcelliott commented on #39
Changed to JoinRealmCRA.

[2015-01-23 04:19] #39 closed, assigned to nobody

[2015-01-30 16:13] beatgammit commented on #33
Should probably hold off until https://github.com/tavendo/WAMP/issues/128 is resolved.

[2015-01-30 16:15] beatgammit commented on #34
May be removed from the spec: https://github.com/tavendo/WAMP/issues/106

Hold off until this is resolved.

[2015-02-02 15:14] beatgammit commented on #34
HEARTBEAT has been removed from the spec. Closing.

[2015-02-02 15:14] #34 closed, assigned to nobody

[2015-02-03 05:28] jcelliott opened #71 "Should the default broker automatically create topics?"
Currently, the default broker automatically creates topics when a peer subscribes to a topic that doesn't exist ([here](https://github.com/jcelliott/turnpike/blob/v2/broker.go#L56)). This should probably be configurable. Should it be the default behavior?

[2015-02-03 16:26] beatgammit commented on #64
You can now use [Router.GetLocalPeer](https://github.com/jcelliott/turnpike/blob/v2/router.go#L35), but in practice you'd probably get this from [WebsocketServer.GetLocalClient](https://github.com/jcelliott/turnpike/blob/v2/websocket_server.go#L91) (falls back to creating a websocket connection if there's an error making the local client) since the Router isn't exported.

[2015-02-04 21:57] jcelliott opened #72 "Don't send nil Arguments or ArgumentsKw"
https://github.com/tavendo/WAMP/blob/master/spec/basic.md#call-1
https://github.com/tavendo/WAMP/blob/master/spec/basic.md#empty-arguments-and-keyword-arguments

Specifically in RESULT messages, but we should check INVOCATION and possibly others.

[2015-02-04 22:00] beatgammit commented on #72
#9 would hopefully prevent things like this from happening in the future, but I don't know if the current test framework actually tests WAMP or if it just tests WebSockets.

If such a thing doesn't exist, perhaps we should create one?

[2015-02-04 22:00] jcelliott commented on #9
No longer blocked since we're using Gorilla websockets.

[2015-02-04 22:01] jcelliott commented on #72
@beatgammit said:

We can also add a simple check in a few places like [this](https://github.com/jcelliott/turnpike/blob/v2/dealer.go#L128)

[2015-02-05 12:46] kacpersaw opened #73 "Origin not allowed"
Hi,
In title I made mistake. Instead of now should be not.
I created two servers. First server is turnpike.v2 server, second server is client(autobahn) in JS.
When i try to connect i got: `Error during WebSocket handshake: Unexpected response code: 403` and in terminal:

[code]

[2015-02-05 15:33] beatgammit commented on #73
I fixed the title for you.

It looks like our web example is broken as well (see #74), but with the patch it works just fine. The example uses the latest autobahn.js from the CDN.

Are you using the latest turnpike (`go get -u gopkg.in/jcelliott/turnpike.v2`)? Do you have some code to reproduce this?

[2015-02-05 16:03] kacpersaw commented on #73
Thanks for title change :)
Yes, I'm using the latest version of turnpike.
Okay, I have code to reproduce this.
server.go

[code]

client.go

[code]

index.html

[code]

If you run index.html on server where turnpike is, client works.

[2015-02-05 17:16] beatgammit commented on #73
I'll take a look at this later today hopefully Thanks!

[2015-04-04 16:33] kacpersaw commented on #35
Is there a way to automatically unregister procedure using heartbeat/timeout of server/client or if this feature exists, could you tell me how to do it?

[2015-04-06 21:58] jcelliott commented on #35
That feature does not exist (yet). Feel free to create a pull request for it if you want. However, this issue is for the RPC cancel call, so please open a new issue for further discussion.

[2015-05-18 16:01] marshauf opened #77 "Stop clients from registering RPC functions"
Hello,

I want to stop clients(browser) from registering RPC functions. If I understand the concept of WAMP correctly I can implement this by:
Challenging the client to authenticate itself. The client authenticates itself with roles.
The (custom)Dealer checks if the client (session?) is authenticated with a rule which allows RPC registration. If authenticated and correct rule, the client can regis

[2015-05-18 19:01] marshauf commented on #73
Check if your request.Header["Origin"] is nil or of the length 0.
If I connect with a browser using a js file. Firefox sets the Origin header to "null". Which results in request.Header["Origin"] = []string{"null"} which does not pass the default checkSameOrigin function of gorilla websocket.

My guess is that in your case you send a request from "localhost:9000" to "localhost:9001" with the Origin

[2015-05-19 15:52] marshauf opened #78 "client.Unregister missing in v2"
Hello,

I am missing the client.Unregister function.
The server doesn't unregister a procedure if a client leaves the realm or closes the connection.
If a client restarts it fails upon sending register since the procedure is already registered.

I also can't send messages since most of the required client functions are private.
I will probably create a pull request with the client.Unregister funct

[2015-05-19 16:57] jcelliott commented on #78
A pull request would be great! Turnpike is close to being finished but I haven't had much time to work on it lately. I should be able to put some time into it in the next couple weeks.

[2015-07-14 15:31] marshauf opened #80 "Implement Authorization"
Hello,

I would like to implement a custom Dealer/Broker but I can't find a way to identify the caller/publisher.
If the Session instead of just the Peer would be passed down to the Dealer/Broker from the Router, I could identify the caller/publisher with Session.Id.

Any thoughts?

[2015-07-14 16:16] jcelliott commented on #80
I'm curious, what do you want to implement with a custom dealer/broker? We have thought about this, but didn't have a concrete use case in mind.

[2015-07-14 16:42] marshauf commented on #80
My dealer/broker would handle access rights. I don't want to implement handling access rights in every callee application. This would also eliminate the trip to the callee and back if the caller hasn't the access right.

Edit:
From the WAMP/basic.md spec:
"A Realm is a WAMP routing and administrative domain (optionally) protected by authentication and authorization."
I think it is a good place to

[2015-07-14 17:22] jcelliott commented on #80
Seems like the router would be the right place to implement this, to avoid duplicate code in the dealer and broker.

Authentication should already be working (see [router.go](https://github.com/jcelliott/turnpike/blob/v2/router.go#L164), [realm.go](https://github.com/jcelliott/turnpike/blob/v2/realm.go#L22), and [authentication.go](https://github.com/jcelliott/turnpike/blob/v2/authentication.go)),

[2015-07-15 09:39] marshauf commented on #80
Do you mean an interceptor in the router which gets called before the message goes to the dealer/broker?

I just implemented the passing down the Session instead of just the Peer. But I just thought about the Peer.Received channel. I don't think it is a good idea to be able to get messages from that channel at the dealer/broker level.

[2015-07-20 09:10] kihamo opened #81 "Unhandled message: ERROR"
I have a problem with the call, which returns an error. My code is based on the example code rpc.

**server.go**

[code]

**client.go**

[code]

**go run server.go**

[code]

**go run client.go**

[code]

**go version**

[code]

I use latest version gopkg.in/jcelliott/turnpike.v2 (c81410264d77f31f4336991c9cabbcf9ebd07426).

Please help me.

[2015-08-11 22:00] jcelliott commented on #81
Thanks for reporting this. I can confirm the issue. The piece of the router to handle that case was overlooked (a big oversight). I'm working on fixing it.

[2015-08-11 22:10] jcelliott commented on #80
Sorry for taking so long to get back to you on this.

That is what I meant. Were you able to solve your issue?

[2015-08-13 10:48] marshauf commented on #80
I implemented the passing down of the Session but as I wrote, it's not a good idea.
I like the idea of an interceptor more. I managed to work on other topics while waiting for a response.
When I get back to it, I will implement an interceptor.

[2015-08-14 14:50] marshauf opened #84 "Client.Close omits error"
Client.Close does not return an error and omits possible returning errors from Sender.Send  and Peer.Close.

[2015-08-14 15:25] jcelliott opened #85 "Dealer does not isolate request IDs to a specific session"
If two clients send requests with request ID "1", the second will overwrite the first and the first will never be returned.

This is related to #80.

[2015-08-14 15:32] #84 closed, assigned to nobody

[2015-08-14 17:19] marshauf commented on #80
How would you design the interceptor?

I would add a function like the AddSessionCallback:
Router.AddMessageHandler(MessageHandler)
type MessageHandler func(Sender, Message) (stop bool)

And call all message handlers before passing the message to the broker or dealer in defaultRouter.handleSession.
Depending on the return value of each MessageHandler call, continue the calling until all handlers a

[2015-08-14 19:05] jcelliott commented on #78
#86 implemented part of this, but the router/dealer still needs to remove the registration if the client disconnects.

[2015-08-23 16:56] marshauf opened #87 "Service registration like in net/rpc"
I would like to implement something similar to the net/rpc package service registration. It would remove the reflection/type checking in the user code and would allow for WAMP reflection later.

For example:

[code]

[2015-08-28 17:23] jcelliott commented on #87
This is an excellent idea. I've wanted to do the same thing, but haven't had the time yet. It looks like the net/rpc [client](http://golang.org/src/net/rpc/client.go) implementation would be a great starting place.

I've added you as a collaborator. If you want to work on this, you can use the dev branch until it's ready to merge into v2.

[2015-08-28 18:21] marshauf commented on #87
I got a prototype wrapper around the current client.Register/Call function working. It needs a lot more work and testing. I will push to the dev branch once I moved the code to turnpike and wrote a test suite.

I could reduce a lot of argument/type checking in my code. It definitely helps.

[2015-09-01 14:49] marshauf commented on #87
I need to add a dependency https://github.com/mitchellh/mapstructure or write my own map[string]interface{} to decoder. What would you prefer?

[2015-09-01 16:01] jcelliott commented on #87
I hadn't seen that library before--I could have used it a few times in the past. It looks fairly well-tested, so I wouldn't mind depending on it.

I would like to look into vendoring dependencies at some point in the future. But the Go 1.5 vendor feature is only experimental and you have to manually enable it with an environment variable. Also, `go get` works fine for now.

[2015-09-01 18:24] marshauf commented on #87
I got it working with a test-suit and without the mapstructure dependency. I don't know how well it will work with a none Go caller. I need to test it with my JavaScript code.

[2015-09-02 01:20] jcelliott opened #93 "Break package into client and router"
It seems unfortunate that in order to use Turnpike's client API you have to import the entire router implementation. It seems like splitting the package would make things a bit cleaner. I propose to change the package structure to the following:

[code]

With this structure, client would still be imported as `.../turnpike`, and router code would be imported as `.../turnpike/router`. It would use t

[2015-09-02 02:21] jcelliott opened #94 "Websocket closing handshake"
Currently we aren't closing the websocket connection correctly according to the spec: https://tools.ietf.org/html/rfc6455#section-7

[2015-09-02 02:46] jcelliott commented on #93
Related to this, I would like to un-export anything that doesn't need to be exported. I don't think the WAMP predefined error URIs (util.go) should be exported, as well as all the WAMP message types (message.go). Unless anyone needs those to be exported, I'm going to move them. It really clutters the package API (see the [godoc result for turnpike](http://godoc.org/gopkg.in/jcelliott/turnpike.v2))

[2015-09-02 03:13] jcelliott commented on #80
@marshauf I changed the title to be more relevant.

What do you think of the implementation from #92?

[2015-09-02 04:04] #81 closed, assigned to nobody

[2015-09-02 04:07] jcelliott commented on #77
This is discussed in #80. If that doesn't solve the issue you can re-open this one.

[2015-09-02 04:07] #77 closed, assigned to nobody

[2015-09-03 02:37] jcelliott commented on #9
Autobahn doesn't provide a WAMP test suite anymore (not sure they ever did). We do have an example that uses Autobahn|Python.

[2015-09-03 02:37] #9 closed, assigned to nobody

[2015-09-03 02:41] jcelliott commented on #36
There is an alpha-stage document for something similar in the WAMP advanced spec:

https://github.com/tavendo/WAMP/blob/master/spec/advanced/event-history.md

You would just set the `limit=1` to get only the last event.

[2015-09-03 03:53] jcelliott commented on #54
#91 Added a `Logger` interface and the ability to inject your own logger. I think this is good enough for now.

[2015-09-03 03:53] #54 closed, assigned to nobody

[2015-09-03 03:56] jcelliott commented on #58
Callbacks added in 117e48aa635c17c08d3bc76a4f4182a0ea5b02cb and 665c5fb304283ded51cce7b81f665c98c3b57bf0.

We should implement the WAMP advanced profile [Session Meta API](https://github.com/tavendo/WAMP/blob/master/spec/advanced/session-meta-api.md).

[2015-09-03 04:00] jcelliott commented on #64
I think this has been answered well enough. Feel free to open another issue if this isn't sufficient.

[2015-09-03 04:00] #64 closed, assigned to nobody

[2015-09-03 13:50] marshauf commented on #80
I require the Session to be passed to IsAuthorized or at least the ID. The Realm would be nice, too.
Why an interface instead of a function for Authorizer and Interceptor, if they both just contain one method?

[2015-09-03 14:54] mourad commented on #80
I understand why you need the <code>session</code> or the <code>session.ID</code> to the <code>IsAuthorized</code> method to determine the caller/publisher, that would be easy enough to add.  I was using the information in the details for the same purpose.

Since each <code>realm</code> has its own <code>Authorizer</code>, you should be able to pass the realm information in when the <code>Authoriz

[2015-09-03 15:05] marshauf commented on #87
The tests work because no serialization happens between the two test clients.
This means I need the mapstructure package to convert a map to a struct like I wrote before.

[2015-09-03 15:13] marshauf commented on #80
Would be nice if you add that.

You are right, it is common. I got confused with the net/http.HandleFunc function.
Yeah, I prefer shorter names. Since the method is authorizing and not returning if the message is authorized, I think Authorize fits better. Same with Intercept.

[2015-09-03 15:25] marshauf commented on #93
The net/http package has server and client related code in it for example.
I used WAMP_ERROR_INVALID_ARGUMENT URI but no longer.
The message types can be used when implementing a Authorizer.

[2015-09-03 15:45] jcelliott commented on #93
Good point.

If the errors should remain exported, we should probably make the names more idiomatic. Like `ErrInvalidArgument`, etc.

What if we put the message and error types in a `wamp` subpackage? Then you would use, e.g., `wamp.ErrInvalidArgument` and `wamp.Invocation` if you need them.

[2015-09-03 16:07] marshauf commented on #93
Yes, all characters upper case is not idiomatic. Should be changed like you wrote.

The net/http package has all it's error values and status codes in the same package. I don't think the turnpike package is cluttered.

To improve and make the package more idiomatic, I suggest the use of: https://github.com/golang/lint
It brings up many suggestions.
In general we should run some tools like:
"go tes

[2015-09-04 06:26] jcelliott commented on #80
@DaniloMoura1 I pulled your commit in before the refactoring in 8205059b507 so there wouldn't be conflicts. If you have additional changes you should base them on the v2 branch head.

[2015-09-10 02:36] mourad commented on #80
@jcelliott : thanks.  Since the <code>welcome.Details</code> were added to the <code>session</code> in de54ebe2d7c39980d7bbbbecc1b9f2bc60728288, I believe we could simplify the interface even further to simply take in the entire <code>session</code> and <code>message</code>.

[2015-09-16 13:11] marshauf commented on #87
I would like to do something similar to Publish and Subscribe.

Add a method to Client:

[code]

And extend Client.RegisterService to use methods which start with "On" as event listeners for publish messages, instead of a registration as a procedure.

Or add a separate method to subscribe to topics with a service, like:

[code]

Which uses all exported methods like RegisterService does and instead

[2015-09-16 18:19] theduke opened #99 "Register callees and publishers on router"
I've scanned through the code, but have not found a way to do it.

I want to use WAMP as the protocol just between a Javascript client and my application server.
The go server will be the router and also serve as callee and publisher.

So I would like to publish events directly on the router, and also to have functions serve as callees directly on the router without a redundant network rountrip.

[2015-09-16 18:22] theduke commented on #99
Whoops.
"GetLocalClient()".

Never mind.

[2015-09-16 18:22] #99 closed, assigned to nobody

[2015-09-16 18:54] jcelliott commented on #99
Yep. Feel free to open another issue if you come across improvements that can be made to that process.

[2015-09-17 14:01] marshauf commented on #87
I implemented the first idea, minus the Client.Broadcast function. It would just be a one line short form of Client.Publish.

@jcelliott could you check the code, please. I would like to merge it into v2 and start on the 33 data races, which are currently in v2. In dev there are only two.

[2015-09-17 16:10] jcelliott commented on #87
I like the idea of a "service" interface for events.

I was also thinking it would be nice to use the reflection code you added for a regular registration as well. Then maybe the current `client.Register` could be moved to `client.RegisterRaw` or something. I think most people using the client would like that functionality, since it simplifies implementations so much. What do you think?

I will ta

[2015-09-17 16:38] marshauf commented on #87
If we merge Client.Register and Client.RegisterService, I wouldn't export the current Client.Register after the merge as Client.RegisterRaw. We would have the same amount of exported methods but one does more complicated stuff.
I am not sure how I would handle the options argument in Client.Register. I guess we could just send it with each service method registration/subscription.

We could also m

[2015-09-17 17:11] jcelliott commented on #87
I was thinking we would keep `RegisterService` separate, where a service is a struct with methods. Then add a reflection layer to `Register`, still registering individual functions like we do now, then move the current `Register` to `RegisterRaw` for anyone that doesn't want to use the reflection layer (probably a bit slower?). But maybe keeping `RegisterRaw` isn't necessary.

[2015-09-17 19:35] jzelinskie opened #100 "move examples to new repo"
If you're trying to vendor this library, godep breaks because it pulls it all the dependencies including the examples and an example uses goncurses which uses cgo.

[2015-09-21 11:31] marshauf commented on #87
The service methods are being registered as "Type.Method" at the moment. In the WAMP spec the example names for procedures have "type.method" all lowercase naming. Do you think I should change it to all lowercase?

[2015-09-21 15:03] marshauf commented on #87
I got an idea on how to do integrate event publishing into the service feature.
Given the following struct:

[code]

Client.RegisterService would set PublishX and calls to PublishX would send an PUBLISH wamp event to topic Service.OnX.
What do you think?

[2015-09-22 16:15] jcelliott commented on #100
I'd rather not move them to a different repository, but I agree it would be good to not break vendoring.

@beatgammit How much effort would it be to remove the goncurses dependency?

[2015-10-01 16:48] marshauf opened #102 "Autobahn.js RequestID differs from turnpikes"
I am running turnpike on:
Architecture:          armv7l
Byte Order:            Little Endian
Which is 32Bit.

Autobahn.js RequestID differs from turnpikes.

I think the problem is:
type ID uint

Autobahn.js chooses for example this ID: 2267980555616256
Which overflows with uint on an 32bit system.

At a quick glance I couldn't find any information on what bit size the ID is.

[2015-10-01 16:51] marshauf commented on #102
Ah I found it:

Which means type ID uint needs to be uint64

[2015-10-01 16:53] jcelliott commented on #102
Good catch. I changed the `maxID` const to int64, but I forgot the ID type.

[2015-10-01 16:58] marshauf opened #103 "Heartbeat message got removed"
turnpike handles Heartbeat messages which no longer exist:
https://github.com/wamp-proto/wamp-proto/issues/106

[2015-10-01 17:00] jcelliott commented on #103
The message type is still defined, but we don't actually send or receive them.

[2015-10-01 17:06] marshauf commented on #102
I found another 10 cases where an uint is used for an ID.
All in router.go. They are mostly related to callbacks.
The program will most likely panic now due an overflow error on 32Bit system instead of handling it while decoding(?).

[2015-10-15 03:18] nizsheanez opened #104 "Goglecode will be close in Jan of 2016"
Regarding: https://code.google.com/p/support/wiki/ReadOnlyTransition
Better avoid usage of package `code.google.com/p/go.net/websocket`
And replace it to `golang.org/x/net/websocket`

[2015-10-15 03:30] nizsheanez commented on #104
oops look like is was in master

[2015-10-15 03:30] #104 closed, assigned to nobody

[2015-10-19 01:11] glycerine opened #105 "fatal error: bad map state"
go1.5.1 on osx. turnpike at c7792e9fac4db78b251de07ecd4249d6e7880ce0

trying to do a little rpc benchmark, go panics on bad state of map. I suspect the Client.listeners map at turnpike/client.go:304 (and everywhere else it is modified) probably needs to be protected by a mutex, as it looks like it got corrupted with a bunch of calls in progress.  This happens after a couple hundred calls in on the

[2015-10-19 02:26] glycerine commented on #105
Indeed, I find that running "go test -v -race" in the main turnpike/ directory reveals a multitude of data races waiting to be fixed.

[code]

[2015-10-19 14:30] jcelliott commented on #105
I recently ran the data race tests as well. It's on the top of my to-do list for turnpike. Or if you would like to take a stab at it I would gladly accept a pull request.

[2015-10-19 16:10] glycerine commented on #105
Hi Joshua,

I looked for a quick fix, but reasoning about the existing code is somewhat difficult.

Forgive me -- I hope this doesn't sound too harsh. There's tons of good stuff in your code. You're 90% of the way there. It's just that the goroutine organization is hard to follow.

If you don't mind a few gentle suggestions, here are a couple of best-practices that I learned about goroutine work f

[2015-10-23 01:47] theduke opened #107 "Access session id in MethodHandler"
I need to access the session ID within a MethodHandler.

As far as I can tell, there is no way to do that now.

I'm willing to put in work myself and then open a PR, but this will require an API change,
so I wanted to ask first how you think this should be implemented.

[2015-11-04 12:09] marshauf commented on #105
Hi Jason,

what would you run in a goroutine and what would you give a context?
Could you provide a context diagram?

I would volunteer to rewrite turnpike.

[2015-11-24 23:55] mattbaird commented on #73
hey @beatgammit , I think the solution is to pass the CheckOrigin func to the upgrader:

[code]

I patched websocket_server.go to take allDifferentOrigin which is a quick and dirty hack, but allowed multiple origins (ports) to work just fine.

What really needs to happen is a bigger change to being able to optionally pass in some configuration,  however either we use the named parameters and lose

[2015-12-01 21:34] mattbaird commented on #73
pinging @beatgammit

[2015-12-03 23:33] beatgammit commented on #73
Thanks for bringing this back up! I don't know if anyone actually uses the origin check since it's a pretty awful security feature (just blocks web pages) and is mostly just annoying, but we should probably be up to spec where possible.

@jcelliott - Do you have any thoughts about this?

I'll look into this sometime over the next few days (and feel free to ping me again if I go AWOL again) and if

[2015-12-03 23:42] mattbaird commented on #73
@beatgammit thanks. It turns out to be a fairly important enhancement as the new turnpike can't pass a handle to a container like revel, so you need to run your websockets on a different port.

[2015-12-07 17:29] jzelinskie commented on #100
@jcelliott @beatgammit any updates on this? I've been manually removing this directory after vendoring.

[2015-12-07 19:59] jcelliott commented on #100
I haven't had time to look at any issues here for a while. I'll try to get to it this week. Moving them to a new repo is probably the quickest fix, and would also keep all the example code out of the vendored code.

[2015-12-07 20:17] jcelliott commented on #73
It looks like the `Upgrader` field on `WebsocketServer` is already exposed (from [this PR](https://github.com/jcelliott/turnpike/pull/82)), so couldn't you just do:

[code]

[2015-12-08 16:38] glycerine commented on #105
bump. What are your thoughts on a big refactor, @jcelliott?

[2015-12-08 17:19] mattbaird commented on #105
@jcelliott @glycerine - what if someone wrote a one pager on the refactor and we commitment and worked on it as a team? I know for me, doing a big refactor without knowing if the PR will be accepted is a major deterrent (as @glycerine says in his last sentence).

[2015-12-08 18:12] glycerine commented on #105
@mattbaird Thanks for commenting.  I may be able to allocate some time to this. @marshauf, what are your current thoughts?  If Joshua/@jcelliott  is swamped, perhaps a friendly fork would be better.

[2015-12-08 18:55] jcelliott commented on #105
I have been swamped the last couple months, but I should have some time now. I was planning on doing some work on turnpike this week. I could definitely use some help going forward with fixing these concurrency issues.

@mattbaird what did you have in mind for a "one pager"?

[2015-12-09 16:51] mattbaird commented on #105
@jcelliott more like guidance on the scope of changes required to follow the practices @glycerine outlined. Maybe one or two code examples based on the turnpike code base. I'm not the biggest fan of prescriptive requirements docs, however if we want to parcel out this work to get the disruption over asap, sharing the concepts more concretely might help accelerate.

[2015-12-14 16:56] mattbaird commented on #73
@jcelliott Yep - this worked. Didn't notice the function was exposed. This worked, thank you!

[2016-01-20 04:08] elimisteve opened #111 "How production-ready is turnpike?"
1. How stable is turnpike at present?
2. My team and I are considering just using the official JS Autobahn server since it's probably the best-supported implementation, even though we prefer Go on the backend.  Any idea how stable/production-ready that one is compared to turnpike?

Thanks!

[2016-01-22 14:10] marshauf commented on #111
It is unstable. See issue #105 .
I don't recommend production use or starting development with this library unless you are willing to put time into it.

[2016-01-23 03:26] elimisteve commented on #111
@marshauf Thanks!

[2016-01-23 03:26] #111 closed, assigned to nobody

[2016-03-24 17:47] yanfali commented on #105
I have a few fixes for the most obvious race conditions exposed by `-race` in a branch, which at least point out which data structures are problematic. Feel free to take a look at them and use this as the basis for your own implementation.
- Specifically the first local client created for a realm would race against the init() function and started using the data structures in realm before they were

[2016-03-25 23:43] gngeorgiev opened #116 "An alternative to turnpike"
Hey guys, I see some activity here, issues PR etc. Due to being forced to use the only available library with go for WAMP and it not working really well, I had to create another library which will be maintained. I copied the git history to https://github.com/gngeorgiev/gowamp and fixed some issues, mostly with the concurrent map writes which would cause a lot of server crashes. I would suggest to

[2016-03-30 22:50] beatgammit commented on #116
@gngeorgiev

The original maintainer (@jcelliott) isn't maintaining this much, but I've been making _some_ fixes on my branch. I'm using this in production, so I'm very interested in helping out.

How much time are you able to dedicate to maintaining this? If you're willing to maintain it full time, then I can mark this repository as depricated on the README and point to yours. If you're not willi

[2016-03-30 23:00] beatgammit commented on #111
Sorry for not getting back to you about this. We're using it in production, but our load is pretty light (just use it for a webapp). There are definitely bugs that need to be solved, but I may have time in the near future to dedicate to this.

You may be interested in the result of the discussion at #116.

[2016-04-15 11:15] djoyner opened #118 "Data race in client.go"
There appears to be a data race in client.go:

A write to the events map in `Subscribe`
(https://github.com/jcelliott/turnpike/blob/v2/client.go#L348):

[code]

Races with a read from the events map in `Receive`
(https://github.com/jcelliott/turnpike/blob/v2/client.go#L215):

[code]

[2016-04-15 12:04] djoyner commented on #118
The above issue was flagged by the race detector running in some downstream code.  I already have a fix for the issue -- using a `sync.Mutex` to protect all three of the client's maps.  While preparing a PR I ran the existing unit tests and saw that the new [Golang 1.6 concurrent map write detector](https://golang.org/doc/go1.6#runtime) almost always panics.  I checked with `go test -race *.go` an

[2016-04-20 03:35] beatgammit commented on #118
I've been working on some fixes in my fork, one of which being this exact one you mention. There may need to be some breaking changes to properly fix the issues though. I'll probably merge in my changes soon (hopefully this week sometime) and then I'll turn my attention to the race detector.

I've been running with Go 1.4 for a few projects so I haven't been running the race detector. I recently s

[2016-04-20 04:35] mattbaird commented on #118
I have a few concurrency fixes I would contribute, but it's on v1. I only recently started experimenting with v2.

[2016-04-20 11:39] djoyner commented on #118
@beatgammit Good to know, thanks. @DaniloMoura1 and I were preparing to wade in to do exactly what you just described but since you're already working on it, we will wait for the update.

[2016-05-04 05:09] lancechentw commented on #50
New link: https://github.com/wamp-proto/wamp-proto/blob/master/rfc/text/basic/bp_ordering_guarantees.md

[2016-05-04 14:02] #80 closed, assigned to nobody

[2016-05-06 16:46] #118 closed, assigned to nobody

[2016-05-06 17:55] mourad commented on #105
I believe all concurrency issues are now being handled by PR #119.

I would like to hear back from those involved before closing this issue.

[2016-05-16 20:57] #73 closed, assigned to nobody

[2016-05-16 21:49] mourad commented on #107
Taking a look at the SPEC, it seems that this should be implemented using `CALL.Options.disclose_me`|`bool` := `true`.

https://tools.ietf.org/html/draft-oberstet-hybi-tavendo-wamp-02#section-13.3.5

[2016-06-26 10:49] jrudio opened #126 "Is it possible to block subscriptions from certain users?"
Maybe I'm not understanding the concepts of realms and whether they are related to my question or not, but currently I have one realm for everything.
Say I want an admin user to listen for events on a protected channel: `admin_events`, but can't a user just subscribe to the same channel and they will receive the admin events?

[2016-06-27 02:33] mourad commented on #126
Take a look at `authorizer.go`, you can provide your own implementation that authorizes (or not) a user to subscribe to your `admin_events` topic.

[2016-06-27 05:02] jrudio commented on #126
Thank you, @mourad !

This is what I was looking for. I have a question that's more Go related, maybe you can help me out?

I can't seem to typecast on [the msg arg](https://github.com/jcelliott/turnpike/blob/v2/authorizer.go#L21).

When I do:

[code]

The error message is:

Ideally, I would check the topic against the `session.Id`

[2016-06-27 05:16] jrudio commented on #126
Whoops, nevermind, I'm dumb. I needed the pointer(?) version: `*gowamp.Subscribe`.

[2016-06-28 03:11] #126 closed, assigned to nobody

[2016-09-16 11:34] alex3d opened #128 "Websocket queued EVENT's limit"
How can I protect router from malicious subscriber not reading incoming EVENTs?
Publisher can't publish new EVENTs when one of subscribers not reading it (and network buffers is filled up)

Crossbar.io & bonefish routers have similar issue - https://github.com/crossbario/crossbar/issues/874

[2016-10-03 15:10] johnSchnake opened #129 "Offer a UseNumber option"
Since the library uses `interface{}` types when deserializing messages, integers are all cast to `float64`. When printing out values in Go, if the value is large enough it prints into scientific notation then.

If there was an option to use `UseNumber` they would stay as `json.Number` types which could be parsed as needed downstream.

[2016-10-12 11:16] dcelasun opened #130 "Status of turnpike?"
It seems like turnpike is semi-maintained by a few different people, but there are multiple open PRs and issues and it doesn't seem like there is any progress. Some of them look quite serious like [#94](https://github.com/jcelliott/turnpike/issues/94), [#85](https://github.com/jcelliott/turnpike/issues/85), [#50](https://github.com/jcelliott/turnpike/issues/50) and a few more.

Does any of the cur

[2016-10-12 11:57] wstrm commented on #130
I know nothing about the current maintainers in this repo, but there has been active development in these:

https://github.com/awakenetworks/turnpike
https://github.com/beatgammit/turnpike

Would be really great if these two could go together and collaborate in a shared repository.

Maybe the current owner of this repo could arrange something?

[2016-10-12 14:13] jcelliott commented on #130
I don't really have time to work on this right now. There are a few people besides me who have commit access, and they have been making some progress. @beatgammit and I were the original authors of the first implementation and the v2 rewrite, so if he plans on maintaining his fork I will link to that one as the "official" fork. I would like to hear his opinion as well as @mourad, @yanfali and any

[2016-10-12 22:17] yanfali commented on #130
I'd love to see an org, and would be willing to participate. I am using turnpike at work daily and I really appreciate the solid work that has gone in to it.

One feature I would contribute, is an alternate backend implementation for Dealer. I'd also contribute some example code/documentation for simple authentication of wamp connections using ticket. I really like how flexible/pluggable the code

[2016-10-13 01:06] mourad commented on #130
I've contributed to the project a few times and continue to use turnpike daily as well, but have been more careful at making changes lately as I currently have 2 open PRs that I was hopeful that either @jcelliott or @beatgammit or others that know more about the direction that they would like to take turnpike could've provided feedback.

I am ok with whichever direction you decide to take, and am

[2016-10-25 02:06] #105 closed, assigned to nobody

[2016-10-28 14:09] mourad commented on #103
removed as per commit 859c711

[2016-10-28 14:09] #103 closed, assigned to nobody

[2016-10-28 14:14] mourad commented on #78
When a client disconnects, the realm now calls.

[code]

[2016-10-28 14:14] #78 closed, assigned to nobody

[2016-10-28 14:58] mourad commented on #130
I've gone ahead and added my changes to the v2 branch, as I've been working with them for quite a while and haven't seen any significant issues.

I plan on continuing to work on turnpike as time permits, and fix issues as I find them.

[2017-04-06 14:28] avdva commented on #129
Hi, [here](github.com/avdva/turnpike) you can find my first implementation of this. It's pretty simple, but worked for me. Use `turnpike.JSONNUMBER` as a serializer.

[2017-05-14 15:12] migueleliasweb commented on #130
+1 as a wish for this repo come back to life !

[2017-05-16 00:22] beatgammit commented on #130
Me too 😞

I use it in production, and it's reasonably stable, but there are still occasional crashes from runtime panics. I have a branch that fixes a few of them, so I just need to sit down and rethink the concurrency model to make sure I'm happy before merging.

[2017-06-16 11:03] subiol opened #137 "How can a client know if the webosocket has disconnected?"
I can see the router has AddSessionOpenCallback and AddSessionCloseCallback, but I have not found anything similar for the client. Is there a way for a client to know if the underlying websocket has disconnected for whatever reason?

[2017-07-02 02:47] richardartoul commented on #130
About to start using this in production and wondering if there is any status update? @beatgammit What kind of load are you handling in production?

[2017-07-02 10:42] richardartoul opened #138 "Persistent state between RPC requests"
I know this isn't part of the WAMP spec, but it would be a nice feature to support persisting some amount of state between RPC requests. The example I have in mind is that I'm authenticating users WAMP sessions with API keys. Once the WAMP connection is established, I don't want to have to hit the database everytime I receive an RPC to lookup which user is associated with the API key.

If I was us

[2017-07-02 10:45] richardartoul commented on #138
The alternative to building a way of storing state with the sessions would be to make it easier to expose the session id in the RPC method. I think the way this is intended to work in Turnpike is by having the client send a "disclose_me" option, but this field appears to be deprecated (the Autobahn Python library no longer supports it for example), so this doesn't leave a lot of room for doing thi

[2017-08-11 16:45] iamsaso opened #139 "Client stops receiving messages"
I am connecting to a websocket and randomly my app stops receiving messages. There is no message that anything failed or that websocket was disconnected or server went away... Did anyone experiance same problems and is there a way to check if everything is ok (like ping) and to reconnect if server goes down.

@gngeorgiev, @beatgammit, @digitallumens, @dcarbone sry for ping but I see you are all ma

[2017-09-21 17:29] gsaqui commented on #73
@jcelliott can I suggest you put the following somewhere on the wiki?
[code]

[2017-11-03 14:52] utdrmac opened #141 "Best way to implement reconnect"
I frequently get "Unable to connect: Failed handshake" from the service to which I'm attempting connections. What's the best way to handle auto-rety/auto-reconnect? Right now I have this (I'm not the best Go programmer)

[code]

[2017-11-20 09:45] avdva opened #142 "client: crash in client.waitOnListener"
[code]
Its not safe to close `acts` channel, some goroutines may send there causing such crashes.
[Here](https://github.com/avdva/turnpike) I rewrote this logic, and it seems to work fine. Also, I added a feature of parsing json numbers as json.Number, #129.
Take a look at it please, and if everything is ok, I'll do a PR.

[2017-11-22 09:36] wstrm commented on #142
This looks nice and I would like if this was merged. I'm no contributor of this however...

One thing though,
```NewWebsocketPeer(MSGPACK, fmt.Sprintf("ws://localhost:%d/", port), nil, nil, nil)```
All these `nil`'s starts to get a bit weird, wouldn't it be better if `NewWebsocketPeer` takes a "options" struct or something instead?

What do you think @mourad and @avdva?

[2017-12-15 10:03] iwittkau opened #143 "Implement Subscriber Black- and Whitelisting"
Hi, I am using turnpike.V2 for a project where I need subscriber black- and whitelisting, especially whitelisting.

The feature is listed in the internet-draft for the WAMP protocol:
[The Web Application Messaging Protocol - 14.4.1. Subscriber Black- and Whitelisting](http://wamp-proto.org/static/rfc/draft-oberstet-hybi-crossbar-wamp.html#rfc.section.14.4.1)

I have a implemneted the "eligible"-op

[2018-01-21 17:33] beatgammit commented on #130
@richardartoul Not too much, something like 5 clients and tens of messages per second. My fork has some concurrency fixes (to fix panics, though they probably don't scale well), so feel free to take a look at that if you like.

[2018-01-21 17:34] beatgammit commented on #137
If it closes normally, you'll get a message saying as much, but if it closes abnormally (socket died), I don't think there's anything currently in the source to hook into that.

[2018-02-28 04:34] j8lp opened #145 "Windows Installation"
Trying to install on Windows 10 64 bit.
[code]

[2018-03-01 13:58] jcelliott commented on #145
Did you post this on the wrong repo? Doesn't look related to turnpike.

[2018-03-01 15:23] j8lp commented on #145
Sorry about that.  Updated my original post with the correct command line output.   Now you know how I got here

[2018-03-02 14:49] #130 closed, assigned to nobody

[2018-05-01 04:35] utdrmac commented on #139
@sasso Any update on this? Running into a similar issue and I was also wondering about 'ping' ability. I've wrapped NewWebsocketClient and JoinRealm/Subscribe inside some infinite-for-loops so that if connection drops, it will auto-retry after a sleep timeout. I'm having "trust" issues that once I connect to the wss I really am connected.

[2021-10-07 14:33] asimfarooq5 opened #149 "Add CryptoSingnAuth Example"
I'm having issue while implementing CryptoSignAuth, Please add an example for easy understanding.